Repository review-me-blog/review-me-blog.github.io, pull requests merged in 2024-07, with the labels that each got.

#14 feat: Twemoji 적용 및 사이드바 클릭 시 렌더되지 않던 현상 수정
  docusaurus.config.js
  package-lock.json
  package.json
  src/components/ApplyTwemoji.js
  src/css/custom.css
  src/theme/Root.js
Labels: 🚀 기능

#15 chore: 사용하지 않는 문서 제거
  docs/meetingnotes/hello.md
Labels: 📄 Docs

#17 docs: 7월 8일 마크다운 설명 추가, 이미지 삽입
  docs/meetingnotes/2024-07-08-meetup/index.md
Labels: 📚 Meetup, 📄 Docs

#22 docs: 브라우저 지원 범위 추가
  docs/frontend/techstack.md
Labels: 📘 FE, 📄 Docs

#24 docs: 백엔드 컨벤션 작성
  docs/backend/01-crew-introduction/img/aru.jpeg
  docs/backend/01-crew-introduction/img/kirby.png
  docs/backend/01-crew-introduction/img/sancho.jpeg
  docs/backend/01-crew-introduction/img/ted.png
  docs/backend/01-crew-introduction/index.mdx
  docs/backend/02-tech-stack/index.md
  docs/backend/03-code-convention/img/image.png
  docs/backend/03-code-convention/index.mdx
Labels: 📕 BE, 📄 Docs

#25 docs: 2024-07-11 회의 기록 작성
  docs/meetingnotes/2024-07-11-meetup/index.md
Labels: 📚 Meetup

#26 docs: 2024-07-12 회의 기록 작성
  docs/meetingnotes/2024-07-12-meetup/img/리뷰미-1차-데모데이.jpg
  docs/meetingnotes/2024-07-12-meetup/img/리뷰미-1차-스프린트-회고.png
  docs/meetingnotes/2024-07-12-meetup/index.md
Labels: 📚 Meetup

#29 docs: 프론트엔드 코드 컨벤션 rem 단위, api 함수 네이밍 규칙 추가
  docs/frontend/codeconvention.md
Labels: 📘 FE, 📄 Docs

#32 refactor: 홈 화면을 문서 화면으로 리디렉션, 로고 및 제목 수정
  docusaurus.config.js
  src/pages/index.js
Labels: 🚀 기능

#35 feat: 블로그 메인 화면 카드 생성
  src/css/custom.css
  src/theme/BlogListPage/BlogPostCard.js
  src/theme/BlogListPage/StructuredData/style.css
Labels: 🚀 기능

#37 docs: 프론트엔드 코드 컨벤션 스타일 컴포넌트 네이밍 규칙 추가
  docs/frontend/codeconvention.md
Labels: 📄 Docs

#41 docs: 2024-07-22 회의록
  docs/meetingnotes/2024-07-22-meetup/index.mdx
  docs/meetingnotes/2024-07-22-meetup/viewImg.png
Labels: 📚 Meetup

#42 docs: 예외 처리 블로그 포스팅
  blog/2024-07-22-exception-handling/img/BasicErrorControllerDebugging.png
  blog/2024-07-22-exception-handling/img/DefaultHandlerExceptionResolver.png
  blog/2024-07-22-exception-handling/img/HandlerExceptionResolverComposite.png
  blog/2024-07-22-exception-handling/index.mdx
Labels: 📕 BE
